<!DOCTYPE html>
<html>
    <head>
        <META charset="utf-8"/>
        <link rel="stylesheet" href="../static/semantic/semantic.min.css"/>
        <link rel="stylesheet" href="../static/css/main_styles.css"/>
        <script src="../static/semantic/jquery-3.3.1.min.js"></script>
        <script src="../static/semantic/semantic.min.js"></script>
        
        <title>Lokaverkefni - Kolbeinn</title>
    </head>
    <body>
        <div class="ui blue inverted segment">
            <h1>Lausar stofur</h1>
        </div>
        <div class="ui blue inverted segment" id="example1">
            <div class="right ui rail">
                <div class="ui sticky segment" style="width: 200px !important; height: 100px !important; left: 274.5px;">
                    <h3 class="ui header">Sér valinn tími</h3>
                    <form action="#">
                        <div class="ui blue inverted segment">
                            <input style="position: relative; left:16px;" id="select_time" type="time" name="timi" value="00:00" min="08:10" max="19:30" required>
                            <span style="position: relative; left:16px;" class="validity"></span>
                        </div>
                        <div>
                            <input type="submit" value="Staðfesta">
                        </div>
                    </form>
                </div>
            </div>
            <div>
                <p>asdasdasdasdasdddddddddddddddd</p>
                <p>asdasdasdasdasdddddddddddddddd</p>
                <p>asdasdasdasdasdddddddddddddddd</p>
                <p>asdasdasdasdasdddddddddddddddd</p>
                <p>asdasdasdasdasdddddddddddddddd</p>
                <p>asdasdasdasdasdddddddddddddddd</p>
                <p>asdasdasdasdasdddddddddddddddd</p>
                <p>asdasdasdasdasdddddddddddddddd</p>
                <p>asdasdasdasdasdddddddddddddddd</p>
                <p>asdasdasdasdasdddddddddddddddd</p>
                <p>asdasdasdasdasdddddddddddddddd</p>
                <p>asdasdasdasdasdddddddddddddddd</p>
                <p>asdasdasdasdasdddddddddddddddd</p>
                <p>asdasdasdasdasdddddddddddddddd</p>
                <p>asdasdasdasdasdddddddddddddddd</p>
                <p>asdasdasdasdasdddddddddddddddd</p>
                <p>asdasdasdasdasdddddddddddddddd</p>
                <p>asdasdasdasdasdddddddddddddddd</p>
                <p>asdasdasdasdasdddddddddddddddd</p>
                <p>asdasdasdasdasdddddddddddddddd</p>
                <p>asdasdasdasdasdddddddddddddddd</p>
                <p>asdasdasdasdasdddddddddddddddd</p>
                <p>asdasdasdasdasdddddddddddddddd</p>
                <p>asdasdasdasdasdddddddddddddddd</p>
                <p>asdasdasdasdasdddddddddddddddd</p>
                <p>asdasdasdasdasdddddddddddddddd</p>
                <p>asdasdasdasdasdddddddddddddddd</p>
                <p>asdasdasdasdasdddddddddddddddd</p>
                <p>asdasdasdasdasdddddddddddddddd</p>
                <p>asdasdasdasdasdddddddddddddddd</p>
                <p>asdasdasdasdasdddddddddddddddd</p>
                <p>asdasdasdasdasdddddddddddddddd</p>
                <p>asdasdasdasdasdddddddddddddddd</p>
                <p>asdasdasdasdasdddddddddddddddd</p>
                <p>asdasdasdasdasdddddddddddddddd</p>
                <p>asdasdasdasdasdddddddddddddddd</p>
            </div>
        </div>
        
    </body>
</html>
<script>
    $('.ui.sticky')
        .sticky({
        context: '#example1'
    });
</script>
