<!DOCTYPE html>
<html>
    <head>
        <META charset="utf-8"/>
        <link rel="stylesheet" href="semantic.min.css"/>
        <script src="jquery-3.3.1.min.js"></script>
        <script src="semantic.min.js"></script>
        
        <title>Verkefni4 - Kolbeinn</title>
    </head>
    <body>
        <a href="">
            <div class="ui modal button">
                <h1>Test</h1>
            </div>
        </a>
    </body>
    <script>
        $('.ui.modal.button').modal('show');
    </script>
</html>