body{
    background-color:black;
    max-width:60em;
    margin: 0 auto;
    text-align: center;
}

.fl-left{
    float:left;
}

.col-1-3{
    width:33.33333333333333%;
}

.col-2-3{
    width:66.666666666%;
}
.c{
    background-color: red;
}
.d{
    background-color: black;
}

input[type="number"] {
  width: 100px;
}

input + span {
  padding-right: 30px;
}

input:invalid+span:after {
  position: absolute;
  content: '✖';
  padding-left: 5px;
}

input:valid+span:after {
  position: absolute;
  content: '✓';
  padding-left: 5px;
}
.t{
    text-align: center;
}